(https_dns) {
    tls {
        dns cloudflare {{ cloudflare_api_token }}
        resolvers 1.1.1.1
    }
}

(https_ip) {
    tls {
        issuer acme {
            profile shortlived
            disable_tlsalpn_challenge
            alt_http_port 80
            timeout 30s
        }
    }
}

{{ public_ip }} {
    respond /health "ok"
    import https_ip
}

{% for proxy in caddy_revserse_proxies %}
{{ proxy.subdomain }}.{{ service_domain }} {
    reverse_proxy {{ proxy.tailnet_node }}.{{ tailnet_domain }}:{{ proxy.port }}
    import https_dns
}
{% endfor %}

:80, :443 {
    abort
}

