network:
    ethernets:
        eth0:
            dhcp6: false
            accept-ra: true
            addresses:
              - "{{ node_ula_prefix }}{{ node_suffix }}/64"
            routes:
              - to: "{{ node_ula_prefix }}/64"
                scope: link
                metric: 100
              - to: "{{ node_ula_prefix }}/64"
                via: "{{ node_ula_prefix }}1"
                scope: global
                metric: 200
