apiVersion: projectcalico.org/v3
kind: BGPFilter
metadata:
  name: deny-pods
spec:
  exportV4:
    - action: Reject
      matchOperator: In
      cidr: {{ pod_network_cidr_v4 }}
---
apiVersion: projectcalico.org/v3
kind: BGPPeer
metadata:
  name: default
spec:
  peerIP: {{ bgp_router_ip }}
  asNumber: {{ bgp_router_as }}
  keepOriginalNextHop: true
  filters:
    - deny-pods
---
apiVersion: projectcalico.org/v3
kind: BGPConfiguration
metadata:
  name: default
spec:
  asNumber: {{ bgp_cluster_as }}
  nodeToNodeMeshEnabled: true
  serviceClusterIPs:
    - cidr: {{ service_cidr_v4 }}
  serviceLoadBalancerIPs:
    - cidr: {{ loadbalancer_cidr_v4 }}
