network:
    ethernets:
        eth0:
            dhcp6: false
            accept-ra: true
            ra-overrides:
              use-dns: false
              use-domains: false
            addresses:
                - "{{ node_ula_prefix }}{{ node_suffix }}/64"
            routes:
                - to: "{{ node_ula_prefix }}/64"
                  scope: link
                  metric: 100
                - to: "{{ node_ula_prefix }}/64"
                  via: "{{ node_ula_prefix }}1"
                  # without on-link, a networkd restart can try this route before the gateway is
                  # resolvable, fail with "No route to host" and take all of eth0 (IPv4 too) down
                  on-link: true
                  scope: global
                  metric: 200
